<div id="container">
  <br>
  <button (click)="logOut()">Logout</button>
  <button (click)="navigateToSalaryData()">Fizetés</button>
  <button (click)="navigateToClientData()">Kliens</button>
  <button (click)="navigateToUserData()">Felhasználó</button>
  <button (click)="navigateToDeletedData()">Törölt adat</button>
  <button (click)="navigateToVerifyingCodeData()">Ellenőrző kód</button>
  <br>
<br>
<p>Felhasználó hozzáadása:</p>
<form #userForm="ngForm" (ngSubmit)="addUser(userForm)">
  <div>
    <label>Felhasználónév:</label>
    <input type="text" name="username" value="username" ngModel>
  </div>
  <div>
    <label>Jelszó:</label>
    <input type="password" name="password" value="password" ngModel>
  </div>
  <br>
  <button type="submit">Új felhasználó</button>
</form>
<p>Jelszó változtatása:</p>
<form #userPasswordChangeForm="ngForm" (ngSubmit)="changePassword(userPasswordChangeForm)">
  <div>
    <label>Felhasználónév:</label>
    <input type="text" name="username" value="username" ngModel>
  </div>
  <div>
    <label>Régi jelszó:</label>
    <input type="password" name="password" value="password" ngModel>
  </div>
  <div>
    <label>Új jelszó:</label>
    <input type="password" name="newPassword" value="newPassword" ngModel>
  </div>
  <br>
  <button type="submit">Jelszóváltás</button>
</form>
<p>Felhasználó törlése</p>
<form #userDeleteForm="ngForm" (ngSubmit)="deleteUser(userDeleteForm)">
  <div>
    <label>Felhasználónév:</label>
    <input type="text" name="username" value="username" ngModel>
  </div>
  <div>
    <br>
  <button type="submit">Felhasználó törlése</button>
  </div>
</form>
  <br>
<button (click)="getUsers()">Felhasználók listázása</button>
  <br>
  <p>Felhasználók:</p>
  <ul class="user">
    <li *ngFor="let user of users">
      <span class="badge">{{user.id}}</span> {{user.username}} {{user.roles}}
    </li>
  </ul>
</div>
