<div id="container">
  <br>
  <br>
  <h2>Keressen átlagfizetést:</h2>
<form #salarySearchForm="ngForm" (ngSubmit)="sendSearchRequest(salarySearchForm)">
  <div>
    <label>Neme:</label>
    <select name="gender" ngModel>
      <option  value="Összes">Összes</option>
      <option  value="Férfi">Férfi</option>
      <option  value="Nő">Nő</option>
    </select>
  </div>
  <div>
    <label>Életkora:</label>
    <select name="age" ngModel>
      <option  value="Összes">Összes</option>
      <option *ngFor="let age of ages" value={{age}}>{{age}}</option>
    </select>
  </div>
  <div>
    <label>Hány idegen nyelven beszél:</label>
    <select name="foreignLanguages" ngModel>
      <option  value="Összes">Összes</option>
      <option *ngFor="let languages of foreignLanguages" value={{languages}}>{{languages}}</option>
    </select>
  </div>
  <div>
    <label>Pozíció:</label>
    <select name="position" ngModel>
      <option  value="Összes">Összes</option>
      <option *ngFor="let position of workPositions" value={{position}}>{{position}}</option>
    </select>
  </div>
  <div>
    <label>Tapasztalata:</label>
    <select name="experience" ngModel>
      <option  value="Összes">Összes</option>
      <option *ngFor="let experience of workExperiences" value={{experience}}>{{experience}}</option>
    </select>
  </div>
  <div>
    <label>Munkavégzés helye:</label>
    <select name="placeOfWork" ngModel>
      <option  value="Összes">Összes</option>
      <option *ngFor="let placeOfWork of placeOfWorks" value={{placeOfWork}}>{{placeOfWork}}</option>
    </select>
  </div>
  <div>
    <label>Legmagasabb iskolai végzettsége:</label>
    <select name="educationAttained" ngModel>
      <option  value="Összes">Összes</option>
      <option *ngFor="let education of educations" value={{education}}>{{education}}</option>
    </select>
  </div>
  <br>
  <button type="submit">Küldés</button>
  <button type="button" (click)="clearSearchForm(salarySearchForm)">Adatok törlése</button>
</form>
<br>
<p id="warningMessageFillEverythingSearchForm" [hidden]="warningFillEverythingSearchForm != true">Kérjük töltse ki az összes mezőt!</p>
<br>
<p [hidden]="averageSalary == 0">Keresés szerinti átlag fizetés: {{averageSalary}} HUF</p>
</div>
