/* You can add global styles to this file, and also import other style files */
body{
  background-color: lightgray;
}

h2 {
  text-align: center;
}

select {
  background-color: antiquewhite;
  width: 250px;
  margin: 1px auto;
}

label {
  display: block;
}

#container {
  text-align: center;
  background-color: lightgray;
}

button {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

li {
  list-style: none;
}

input[type="number"] {
  background-color: antiquewhite;
  margin: 1px auto;
}

input[type="text"] {
  background-color: antiquewhite;
  margin: 1px auto;
}

input[type="password"] {
  background-color: antiquewhite;
  margin: 1px auto;
}
