h2 {
  text-align: center;
}

select {
  background-color: antiquewhite;
  width: 250px;
  margin: 1px auto;
}

label {
  display: block;
}

#container {
  text-align: center;
  background-color: lightgray;
}
